apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: {{ question9_namespace | default('default') }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: nginx
          image: {{ question9_image | default('docker.io/library/httpd:latest') }}
          ports:
            - containerPort: 80
