apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ question10_secondary_namespace | default('backend') }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: nginx
          image: {{ question10_image | default('docker.io/library/httpd:latest') }}
          ports:
            - containerPort: 80
