apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ question10_primary_namespace | default('frontend') }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: {{ question10_image | default('registry.cn-hangzhou.aliyuncs.com/fizz_1024/cka:httpd-booworm') }}
          ports:
            - containerPort: 80
