apiVersion: v1
kind: Service
metadata:
  name: echoserver-service
  namespace: {{ question2_namespace | default('sound-repeater') }}
spec:
  selector:
    app: echoserver
  ports:
    - port: 8080
      targetPort: 8080
