apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: {{ question14_namespace | default('relative-fawn') }}
spec:
  replicas: 3
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - name: wordpress
          image: {{ question14_image | default('wordpress:latest') }}
          ports:
            - containerPort: 80
              name: http
          resources:
            # 过高的资源请求，导致 Pod 无法调度
            requests:
              cpu: "100"
              memory: "500Gi"
            limits:
              cpu: "100"
              memory: "500Gi"
          env:
            - name: WORDPRESS_DB_HOST
              value: mysql
            - name: WORDPRESS_DB_USER
              value: wordpress
            - name: WORDPRESS_DB_PASSWORD
              value: wordpress
            - name: WORDPRESS_DB_NAME
              value: wordpress
