apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end
  namespace: {{ question5_namespace | default('spline-reticulator') }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
        - name: nginx
          image: {{ question5_image | default('docker.io/library/httpd:latest') }}
          # 注意：当前没有暴露端口，考生需要添加 containerPort: 80
