apiVersion: v1
kind: Service
metadata:
  name: nginx-static
  namespace: {{ question12_namespace | default('nginx-static') }}
spec:
  selector:
    app: nginx-static
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
      nodePort: 30081
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
      nodePort: 30443
  type: NodePort
